{% extends "base.html" %}
{% load staticfiles %}



{% block styles %}
    <style>
      #bkg {
        background: url("{% static 'img/background.jpg' %}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 1320px;
      }
    </style>
{% endblock %}



{% block content %}
<div class="container", style="text-align:center;">
<div class="col-sm-6 col-sm-offset-3">
	<h1>Hello Django</h1>
    

    	<form class="form-horizontal" method="POST", action=""> {% csrf_token %}
            <div class="form-group form-group-lg">
        		{% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <div class="alert alert-warning" role="alert">Введите email</div>
                    {% endfor %}
                {% endif %}
                <div class="input-group">
                    <input class="form-control", type="email", name="email", placeholder="Ваш email" />
                    <span class="input-group-btn">
            		      <input type='submit', value='Подписаться', class='btn btn-primary btn-lg' />
                    </span>              
                </div>
            </div>
    	</form>
    
</div>
</div>
{% endblock %}	
