{% extends "share_base.html" %}
{% load staticfiles %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
          	<div class="row">
		          <div class="col-md-6 pull-right">
		          		<i class="fa fa-share-alt fa-3x"></i>
			            <h1>Поздравляем!</h1>
			            <p>Вы стали подписчиком My Wedding теперь о новостях и самых интересных предложениях Вы узнаете первыми. Оставйтесь с нами и расскажите о нас друзьям.</p>
			            <div class="well">
			            	{{ ref_url }} 
			            </div>
			            <a href="http://vk.com/share.php?url={{ ref_url }}" target="_blank">
			            	<i class="fa fa-vk fa-3x" style="color: #45668e"></i>
			            </a>			            
			            <a href="https://www.facebook.com/sharer/sharer.php?u={{ ref_url }}" target="_blank">
			            	<i class="fa fa-facebook-square fa-3x" style="color: #3b5998"></i>
						</a>
			            <!-- <i class="fa fa-twitter-square fa-3x" style="color: #00aced"></i> -->
			            <a href='https://plus.google.com/share?url={{ ref_url }}' target="_blank">
			            	<i class="fa fa-google-plus-square fa-3x" style="color: #dd4b39"></i>
			            </a>
			            <!--<i class="fa fa-odnoklassniki-square fa-3x" style="color: #ed812b"></i>  -->
		          </div>
		          <div class="col-md-6 pull-left">
		            	<img class="img-circle" src="{% static 'img/invitation_3.jpg' %}" width="390" height="390">
		          </div>
          	</div>
        </div>
    </div>

{% endblock %}